@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  background: red;
  background: linear-gradient(135deg, #220c10 0%, #223843 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* licorice: #220c10 */
/* slate: #223843 */
